* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color:  #7d7d7d;
/*   font-size: 15px;
 */
}
body {
  background: #EBEBEB;
}
.conteiner {
  padding: 15px;
  border-radius: 3px;
  width: 1000px;
  height: 1000px;
  margin: 30px auto;
  background: rgba(175, 175, 175, 0.1);
  position: relative;


}
.wrapper {
  width: 100%
}
.wrapper::after {
  display: table;
  clear: both;
  content: ''
}
.leftconteiner {
  width: 40%;
  height: 700px;
  float: left;
  border-radius: 5px;

}
.boris {
  width: 100%;
  height: 450px;
  background: white;
  text-align: center;
  border-radius: 5px;
}

.social {
  width: 100%;
  height: 220px;
  background: white;
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
}
.rightconteiner {
  width: calc(60% - 50px);
  height: 700px;
  float: left;
  background: white;
  margin-left: 50px;
  border-radius: 5px;

}
 .about {
  width: 100%;
  height: 250px;
  background: red;
  border-radius: 5px;
  margin-top: 25px;






}
.boris img {
  height: 100px;
  border: 3px solid #cccccc;
  border-radius: 100%;
  margin: 20px 0;

}
.boris h1, p {
  margin: 25px 0;
}
.boris h1 {
  color: #DD5555;
  font-size: 25px;

}
.boris h2 {
  font-size: 20px;
}
.boris p {
  text-align: justify;
  padding: 20px;
}
.boris a {
  text-decoration: none;
  background: #DD5555;
  padding: 20px;
  color: white;
  border-radius: 4px

}
.social a, i {
  text-decoration: none;
  color: #EBEBEB
}

.socialitem {
  display: inline-block;
  padding: 30px;

}
.social li {
  margin: 50px 0;
}
.social i:hover {
  color: #c61414;


}
